html, body {
    font: normal 100% Calibri, Candara, "Gill Sans", "Gill Sans MT", sans-serif;
    width: 100%;
    height: 100%;
    height: 4099px;
    text-align: center;
}

body {
    background: black;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

.uppercase {
    text-transform: uppercase;
}

.bold {
    font-weight: bold;
}

li {
    list-style: none;
}

#page {
    width: 100%;
    height: 100%;
    background: url("../Static/pic/background_01.png") no-repeat;
    background-size: cover;
}

#page .logo-block-1 .logo-block,
#page .logo-block-2 .logo-block {
    display: block;
    width: 100%;
    overflow: hidden;
}

#page .logo-block-1 {
    height: 782px;
}

#page .logo-block-2 {
    height: 758px;
}


#page .footer {
    height: 450px;
}

#page .logo-block-2 .logo-block {
    height: 200px;
}

.slide-arrow, .logo-1 {
    display: inline-block;
    margin: 0 auto;
    height: 100%;
}

.slide-arrow {
    width: 4.831625%;
    height: 100%;
}

.slide-arrow .menu {
    display: block;
}

.slide-arrow li {
    position: relative;
    display: block;
    margin: 0 auto;
}

.slide-arrow .menu .trigram {
    position: relative;
    display: block;
    height: 24px;
    width: 100%;
    background: url("../Static/pic/simbols_04.png") no-repeat 50%;
    margin: 0 auto;
}

.slide-arrow .menu li .menu-item {
    display: none;
}

.slide-arrow .menu li:hover .menu-item {
    display: block;
    position: relative;
    background: url("../Static/pic/background_01.png") no-repeat;
    width: 120%;
    padding: 100%;
}

.slide-arrow .ticket {
    display: block;
    width: 100%;
    height: 93.6%;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: left;
    margin: 0 auto;
}

.slide-arrow .ticket .name {
    vertical-align: middle;
    margin: 20px 7%;
}

.slide-arrow .ticket .arrow a {
    display: inline-block;
    width: 20%;
    margin: 1.6em 3%;
    content: url("../Static/pic/simbols_40.png");
    transform: rotate(270deg);
}

.pic-right, .menu {
    text-align: center;
    height: 60px;
    color: white;
    float: right;
    margin: 33px auto;
}

.menu {
    width: 100%;
    float: left;
}

.pic-right {
    float: right;
    width: 5%;
    margin-right: 5px;
}

.pic-right .contact {
    position: relative;
    display: block;
    height: 24px;
    width: 100%;
    background: url("../Static/pic/simbols_06.png") no-repeat 50%;
    float: left;
}

.logo-1 {
    position: relative;
    display: inline-block;
    width: 95.168375%;
    height: 100%;
    float: right;
    z-index: 999;
    opacity: 1;
}

.logo-block-1 .logo-1 .background,
.logo-block-2 .logo-1 .background {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;

}

.logo-block-1 .logo-1 .background {
    background: linear-gradient(-150deg, #000 0%, transparent 30%),
    url("../Static/pic/index_03.png")  no-repeat;
    background-size: cover;
    z-index: 0;
    opacity: 0.6;
}

.content {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.content .logo-2 {
    position: relative;
    display: block;
    margin: 287px 35% 147px 30.5005%; /* 389px / 1300 b 455 / 1300 */
    width: 35.076923%; /* 456 / 1520 */
    height: 178px;
    background: url("../Static/pic/simbols_11.png") no-repeat, transparent;
    background-size: contain;
    vertical-align: middle;
    z-index: 999;
}



.text {
    display: block;
    float: left;
    width: 77.631579%;
    height: 78px;
    text-align: left;
    margin-left: 8.552632%;
}

.text .grid {
    display: block;
    float: left;
    height: 100%;
    width: 44.067797%;
}

.text h1 {
    font-weight: bold;
    font-size: 1.6em;
    line-height: 1.7em;
}

.text h1::after {
    height: 5%;
    content: url("../Static/pic/Shape-91.png");
    float: right;
    vertical-align: middle;
}

.text h2 {
    font-size: 1.2em;
    line-height: 1.2em;
}

.text h3 {
    font-size: 1em;
}

.right-block {
    display: inline-block;
    float: left;
    width: 6.447368%;
    height: 12.447368%;
    text-align: right;
    margin: 0   ;
    font-size: 0.9em;
}

.right-block .arrow-right {
    content: " ";
    display: block;
    height: 40px;
    line-height: 1.8em;
    width: 100%;
    float: right;
    text-align: right;
}

.right-block .arrow-right a {
    display: block;
    width: 100%;
    height: 40%;
    background: url("../Static/pic/simbols_40.png") no-repeat 100%;
    background-size: contain;
    z-index: 999;
}

.right-block .date {
    display: block;
    height: 1.2em;
    width: 100%;
    font-size: 1em;
    text-align: right;
    float: right;
}

.logo-block-2 .background {
    background: linear-gradient(-150deg, #000 0%, transparent 30%),
    url("../Static/pic/index_55.png")  no-repeat;
    background-size: cover;
    z-index: 0;
    opacity: 0.6;
}

.logo-block-2 .logo-1 .content .logo-2 {
    position: relative;
    display: block;
    margin: 20% auto; /* 496px / 1520 b 358 / 918 */
    width: 34.736842%; /* 528 / 1520 */
    height: 19.929825%;
    background: url("../Static/pic/pics-and-text_75.png") no-repeat, transparent;
    background-size: contain;
}

.logo-block-2 .logo-block .slide-arrow {
    height: 100%;
}

.slider-block-1 {
    display: block;
    position: relative;
    width: 100%;
    height: 516px;  /* 604px */
    margin: 0 auto;
}

.slider-block-1 .header {
    display: block;
    position: relative;
    height: 18.874172%;
    margin: 0 auto;
}

.slider-block-1 .header h1 {
    display: block;
    position: relative;
    width: 73.75%; /* 1180px */
    height: 100%;
    text-align: left;
    vertical-align: middle;
    margin: 0 auto;
}

.slider-block-1 .effect-block .button {
    position: relative;
    display: inline-block;
    float: right;
    height: 100%;
    width: 9.210526%;
    background: url("../Static/pic/simbols_40.png") no-repeat 50%;
}

.slider-block-1 .effect-block {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    height: 77.152318%; /*466px*/
}

.slider-block-1 .effect-block .sliders {
    position: relative;
    display: inline-block;
    width: 86.875%; /* 1390px */
    height: 100%;
    overflow: hidden;
}

.slider-block-1 .effect-block .sliders .slider-item {
    display: inline-block;
    position: relative;
    margin: 0 0.75% auto;
    float: left;
    width: 26.482014%;
    height: 100%;
    background: white;
    color: black;
}

.slider-block-1 .effect-block .sliders .slider-item .descripte {
    display: block;
    position: relative;
    width: 80%;
    height: 200px;
    margin: 0 auto;
}


.slider-block-1 .effect-block .sliders .slider-item .descripte h1 {
    font-size: 1.8em;
    text-align: left;
    margin: 30px 0 auto;
}

.slider-block-1 .effect-block .sliders .slider-item .descripte .text-slide {
    position: relative;
    float: left;
    text-align: left;
    font-size: 1.1em;
    line-height: 30px;
}

.slider-block-1 .effect-block .sliders .slider-item .image {
    display: block;
    position: relative;
    height: 43.776824%;
    width: 100%;
    z-index: 999;
    overflow: visible;
}

.slider-block-1 .effect-block .sliders .slider-item .image::before {
    display: block;
    position: relative;
    content: "";
    width: 100%;
    height: 100%;
    background: url("../Static/pic/Cutout.png") no-repeat -5% 109.5%;
    background-size: 10%;
}

.slider-block-1 .effect-block .sliders .slider-item:first-child {
    position: relative;
    display: inline-block;
    margin-left: -150px;
}

.slider-block-1 .effect-block .sliders .slider-item:first-child .image {
    background: url("../Static/pic/Layer-25.png") no-repeat 75%;
    background-size: 150%;
}

.slider-block-1 .effect-block .sliders .slider-item:nth-child(2) .image {
    background: url("../Static/pic/Layer-25.png") no-repeat;
    background-size: 250%;
}

.slider-block-1 .effect-block .sliders .slider-item:nth-child(3) .image {
    background: url("../Static/pic/Layer-25.png") no-repeat;
    background-size: 150%;
}


.slider-block-1 .effect-block .sliders .slider-item:nth-child(4) .image {
    background: url("../Static/pic/Layer-25.png") no-repeat;
    background-size: 350%;
}

.slider-block-1 .effect-block .sliders .slider-item:nth-child(4) {
    margin-right: 0;
}



@media screen and (max-width: 750px) {
    #page {
        width: 50%;
    }
}



@media screen and (max-width: 1600px) {
    #page {
        width: 100%;
        margin: 0 auto;
    }
}